<%if @user.errors.any?%>

<div id="error_explaination">
	<h2>Unable to save user due to because :</h2>
	<p>
		There were problems with the following fields
		<ul>
			<% @user.errors.full_messages.each do |message| %>
			<li>
				<%=message%>
			</li>
			<% end %>
		</ul>
	</p>
</div>
<% end %>