<% @user ||= current_user %>
<div class="stats">
  <a href="<%= friends_user_path(@user) %>">
    Friends :
    <strong id="following" class="stat">
      <%= @user.friend_users.count+@user.adders.count %>
      <br>
    </strong>    
  </a> 
  <br>
</div>