


<% if signed_in? %>
<% @user=current_user %>
	<div class="pull-left span3">
    <%= render 'shared/user_info' %>
	</div>

<div class="pull-right">	
	<div class="row">
    <div class="span8">
      <h3>News Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>  
<% end %>
