@require 'bootstrap'
.container
{
	width:710px;
	float:center;

}
body
{
	background-color: #cff;
}
header img
{
	background: #fff;
}
section
{
	font-size: 120%;
	background: #fff;
}
a
{
	color: red;
	text-decoration: none;
}
a:hover
{
	color:green;
	text-decoration: underline;
}
a:visited
{
	color:blue;
}
nav
{
	float: right;
	background: white;
}
nav ul
{
	margin:0;
	padding:0;
}
nav ul li
{
	display: inline-block;
	padding-left: 10px;
}
.signup_button
{
	background: red;
}