@import "bootstrap";

.darkBlueBG
{
	background:#3b5998;
}
.whiteBG
{
	background:#fff;
}
body
{
	background:#edf0f5;
}
.whiteText
{
	color:#fff;
	text-decoration:none;
	text-shadow:0 0 0;
}
.blueText
{
	color:#3b5998;
}
.grayText
{
	color:#98a9ca;
	text-decoration:none;
	text-shadow:0 0 0 white;
}
.navbar .nav > li > a
{
	color:#98a9ca;
	text-decoration:none;
	text-shadow:0 0 0 white;	
}
.clear
{
	clear:both;
}
.smallText
{
	font-size:11px;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	line-height:1.28;
}
.input-medium
{
	width:142px;
}
.noMargin
{
	margin-top:0px;
	margin-bottom:3px;
}
input[type="checkbox"] 
{
	margin:0 0 3px;
}
.navbar .btn, .navbar .btn-group
{
	margin-top:0px;
	margin-bottom:7px;
	margin-left:10px;
}
input[type="submit"].btn.btn-large
{
	width:192px;
}
.miniDP
{
	width:25px;
	height:25px;
}
.search-margin
{
	margin-top:6px;
	margin-bottom:6px;
	margin-left:10px;	
}
.username
{
	text-decoration:none;
	font-weight:bold;
}
.topMargin
{
	margin-top:4px;
	margin-bottom:0px;
}